/*  --------------- RESET STYLES --------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}
	
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }

section, article, header, footer, nav, aside, hgroup {
	display: block;
}

/* --------------- END RESET --------------- */

html, body {
	height: 100%;
	-webkit-text-size-adjust: none;
	line-height: 1.2;
}

body {
	background: url(/projectplanner/images/bg.png) top center repeat;
	font-family: "museo-slab-1","museo-slab-2",Georgia,"Times New Roman",serif;
	font-size: 16px;
	color: #464646;
}

h1 {
	font-family: "museo-slab-1","museo-slab-2",serif;
	font-size: 60px;
	color: #425e8d;
	line-height: 90%;
	margin-bottom: 20px;
}


h2 {
	font-family: "hellenic-wide-1","hellenic-wide-2",sans-serif;
	color: #425e8d;
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h3 {
	font-family: "museo-slab-1","museo-slab-2",serif;
	font-size: 18px;
	line-height: 90%;
}


p {
	line-height: 140%;
}

.float-left {
	float: left;	
}

.float-right {
	float: right;	
}

.clear {
	clear: both;	
}

.left-column {
	width: 408px;
	float: left;
}

.right-column {
	width: 436px;
	float: right;
	position: relative;
}

.right-column h2 {
	padding-top: 6px;	
}

a {
	color: #425E8D;
}

/* --------------- COLORS --------------- */

.green {
	color: #87b968;	
}

.blue {
	color: #435e6a;	
}

.red {
	color: #961239;
}

.orange {
	color: #c47320;	
}

.royalblue {
	color: #0033a6;	
}

/* --------------- HEADER --------------- */

header {
	width: 944px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}

a.logo {
	position: absolute;
	top: 36px;
	left: -20px;	
}

.tooltip-instructions {
	position: absolute;
	top: 32px;
	left: 258px;
}

.tooltip-start {
	position: absolute;
	top: 32px;
	right: 0px;
}


/* --------------- SITE --------------- */

#site-wrapper {
	background: url(/projectplanner/images/wrapper_bg.png) top center repeat-y;
	padding: 20px 0;
	min-width: 944px;
}

#site-container {
	width: 944px;
	background: #fdfdfd;
	background: rgba(255,255,255,0.75);
	margin: 0 auto;
}

#site-padding {
	padding: 20px;	
}

#container {
	background: url(/projectplanner/images/container_bg.png) 438px top repeat-y;	
}

/* --------------- INSTRUCTIONS --------------- */

.instruction {
	padding-top: 30px;
	overflow: hidden;	
}

.instruction p {
	float: right;
	width: 334px;
	/*text-align: justify;*/
}

.count {
	float: left;
	width: 54px;
	height: 54px;
	background: url(/projectplanner/images/count_bg.png) top center no-repeat;
}

.count span {
	font-family: "hellenic-wide-1","hellenic-wide-2",sans-serif;
	font-size: 23px;
	width: 54px;
	display: block;
	text-align: center;
	padding-top: 12px;
}

/* --------------- FORM --------------- */

label {
	display: block;
	margin-bottom: 8px;
}

input[type=text], input[type=email], textarea {
	background: #f7f7f7;
	background: rgba(255, 255, 255, 0.5);
	border: 1px #ccc solid;
	margin-bottom: 20px;
	font-family: "museo-slab-1","museo-slab-2",Georgia,"Times New Roman",serif;
	font-size: 14px;
	width: 414px;
	height: 24px;
	padding: 10px;
	color: #7c7c7c;
}

textarea {
	height: 80px;	
}


input[type=text]:focus, input[type=email]:focus, textarea:focus {
	background: #fff;
}

input[type=submit] {
	width: 82px;
	height: 32px;
	display: block;
	cursor: pointer;
	outline: none;
	border: none;
	margin-top: 20px;
	background: url(/projectplanner/images/submit_bg.png) 0px 0px no-repeat;
}

input[type=submit]:hover {
	background: url(/projectplanner/images/submit_bg.png) 0px -32px no-repeat;
}

input[type=submit]:active {
	background: url(/projectplanner/images/submit_bg.png) 0px -64px no-repeat;
}


/* --------------- TOOLTIPS --------------- */

.tooltip {
	width: 200px;
	height: 165px;
	background: url(/projectplanner/images/tooltip_bg.png) top center no-repeat;
	color: #696969;
	position: absolute;
	left: -200px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	display: none;
}

.tooltip h3 {
	text-align: center;
	text-transform: uppercase;
	padding: 60px 18px 2px 12px;
}

.tooltip p {
	text-align: center;
	padding: 0 18px 0 12px;
	line-height: 110%;
	font-size: 14px;
}

