<div class="contact-form-wrapper">
	<div class="contact-form">
		<a href="#c" class="close"></a>
		<div class="row">
			<div class="large-6 columns">
				<h3>Say Hello</h3>
				<p>We’re flattered you’ve decided to take the next step with us.  Whether you’re a future client with great taste, an old friend, or someone interested in becoming a blue ioner/ionite --jury is still out on that one -- drop us a note here and someone from our world headquarters will be in touch!  </p>

				<p>301B King St<br>
				Charleston, SC 29403<br>
				843.727.0310</p>
				<img src="/assets/images/logo-black.svg" alt="">
			</div>
			<div class="large-6 columns">
				<form data-parsley-validate id="contact-form" action="/assets/includes/contactMailer.php" method="post" class="ajax-form">
		            <label for="first_name">First Name*</label>
		            <input type="text" name="first_name" id="first_name" required data-parsley-trigger="change" data-parsley-error-message="Please enter your First Name">

		            <label for="last_name">Last Name*</label>
		            <input type="text" name="last_name" id="last_name" required data-parsley-trigger="change" data-parsley-error-message="Please enter your Last Name">

		            <label for="reale">Email Address*</label>
		            <input type="email" id="email" name="emailAlt" style="display:none">
		            <input type="email" id="emailReal" name="emailReal" required data-parsley-trigger="change" data-parsley-error-message="Please enter your Email Address">

		            <label for="phone">Phone Number</label>
		            <input type="text" name="phone" id="phone" required data-parsley-trigger="change">

		            <label for="comments">How Can We Help?</label>
		            <textarea name="message" required id="message" data-parsley-trigger="change"></textarea>
		            <p>* Required Fields</p>
		            <input class="button dark" type="submit" value="Submit Form">
		            <div class="response"></div>
		        </form>
			</div>
		</div>
	</div>
</div>