<footer class="site-footer">
	<ul class="inline-list">
		<li class="twitter">
			<a href="https://twitter.com/blueion" target="_blank">Twitter</a>
		</li>
		<li class="facebook">
			<a href="https://www.facebook.com/BlueIon" target="_blank">Facebook</a>
		</li>
		<li class="flickr">
			<a href="http://www.flickr.com/photos/blueion301/" target="_blank">Flickr</a>
		</li>
		<li class="dribbble">
			<a href="http://dribbble.com/blueion" target="_blank">Dribbble</a>
		</li>
		<li class="rss">
			<a href="http://blog.blueion.com/feed" target="_blank">RSS Feed</a>
		</li>
	</ul>
</footer>


<!--#include virtual="/assets/includes/fullscreen-nav-2.html" -->

<!--#include virtual="/assets/includes/contact.html" -->

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/assets/js/build/scripts.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-910335-14', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>