<div class="fullscreen-2">
	
	<a href="#c" class="close"></a>

	<nav>
		<a href="/" class="logo text-center"><img src="/assets/images/logo.svg" alt=""></a>
		<ul>
			<li class="mobile"><a href="/featured-clients/" id="portfolio"><span></span>PORTFOLIO</a></li>
			<li class="mobile"><a href="/agency/" id="agency"><span></span>AGENCY</a></li>
			<!-- <li class="mobile"><a href="/process/" id="process"><span></span>PROCESS</a></li> -->
			<li class="mobile"><a href="http://blog.blueion.com" target="_blank" id="ourblog"><span></span>OUR BLOG</a></li>
			<li class="mobile"><a href="javascript:void(0);" class="contact-trigger" id="contact"><span></span>CONTACT</a></li>
			

			<!-- <li>
				<a href="http://blog.blueion.com" target="_blank" id="ourblog">
					<span></span>
					OUR BLOG
				</a>
			</li>
			<li>
				<a href="/photography/" id="photography">
					<span></span>
					PHOTOGRAPHY
				</a>
			</li>
			<li>
				<a href="/identity/" id="identity">
					<span></span>
					IDENTITY &AMP; BRANDING
				</a>
			</li>
			<li>
				<a href="/agency/index.html#services" class="smooth" id="services">
					<span></span>
					OUR SERVICES
				</a>
			</li>
			<li>
				<a href="http://blog.blueion.com/category/jobs-bi/" target="_blank" id="contact">
					<span></span>
					WE'RE HIRING
				</a>
			</li> -->
		</ul>
	</nav>
</div>