<div class="fullscreen">
	
	<a href="#c" class="button close">CLOSE</a>

	<div class="row collapse fluid height-100">
		<div class="medium-4 columns height-50 text-center">
			<a href="#d" class="height-100 one">
				<span class="button">OUR BLOG</span>
			</a>
		</div>

		<div class="medium-4 columns height-50 text-center">
			<a href="#f" class="height-100 two">
				<span class="button">OUR SERVICES</span>
			</a>
		</div>

		<div class="medium-4 columns height-50 text-center">
			<a href="#e" class="height-100 three">
				<span class="button">CONTACT US</span>
			</a>
		</div>

		<div class="medium-4 columns height-50 text-center">
			<a href="#g" class="height-100 four">
				<span class="button">FACEBOOK</span>
			</a>
		</div>

		<div class="medium-4 columns height-50 text-center">
			<a href="#h" class="height-100 five">
				<span class="button">TWITTER</span>
			</a>
		</div>

		<div class="medium-4 columns height-50 text-center">
			<a href="#i" class="height-100 six">
				<span class="button">YOUTUBE</span>
			</a>
		</div>

	</div>
</div>