	<div class="navigation">
		<div class="wrapper">
			<div class="logo"><a href="/"><img src="/assets/images/logo.svg" alt=""></a></div>
			<ul class="main-nav">
				<li><a href="/featured-clients/">FEATURED CLIENTS</a></li>
				<li><a href="/agency/">AGENCY</a></li>
				<!-- <li><a href="/process/">PROCESS</a></li> -->
				<li><a href="http://blog.blueion.com" target="_blank">BLOG</a></li>
				<li><a href="#c" class="contact-trigger">CONTACT</a></li>
				
				<li class="menu"><a href="#c">
					<img src="/assets/images/icon-ham.svg" alt=""></a>
				</li>
				<li class="trigger-2">
					<a href="#c">
						<img class="up-icon" src="/assets/images/icon-up.svg" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>	