/* #Variables
================================================== */
$light-blue: #29abe2;
$dark-blue: #1c437d;
$black: #000;
.white {
	color: #fff;
}

/* #FONTFACE
================================================== */
@font-face {
  font-family: 'Verlag Black';
  src: url('/assets/fonts/Verlag-Black.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Verlag-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Verlag-Black.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Verlag-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Verlag-Black.svg#125693ec0a3a70113228f242685ea001') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Verlag XLight';
  src: url('/assets/fonts/Verlag-XLight.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Verlag-XLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Verlag-XLight.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Verlag-XLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Verlag-XLight.svg#5b3e4ae5e5fc01d705d7e5b4a9932c01') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Verlag Book';
  src: url('/assets/fonts/Verlag-Book.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Verlag-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Verlag-Book.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Verlag-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Verlag-Book.svg#05f87def20d0354e7d73b1044bd6107d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Verlag Bold';
  src: url('/assets/fonts/Verlag-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Verlag-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Verlag-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Verlag-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Verlag-Bold.svg#cc09b1efc20a3eaf6624cc253d502477') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Knockout';
  src: url('/assets/fonts/Knockout-HTF66-FullFlyweight.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Knockout-HTF66-FullFlyweight?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Knockout-HTF66-FullFlyweight.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Knockout-HTF66-FullFlyweight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Knockout-HTF66-FullFlyweight.svg#cc09b1efc20a3eaf6624cc253d502477') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaCond-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/ProximaNovaCond-Regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/ProximaNovaCond-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/ProximaNovaCond-Regular.svg#125693ec0a3a70113228f242685ea001') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

/* #Type Variables
================================================== */
$verlag-black: 'Verlag Black';
$verlag-xlight: 'Verlag XLight';
$verlag-book: 'Verlag Book';
$verlag-bold: 'Verlag Bold';
$verlag-black: 'Knockout';
$verlag-black: 'Proxima Nova';

/* #GENERAL
================================================== */

html {
	overflow-x: hidden;
}


body {
	// overflow-x: hidden;
	min-height: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	font-family: "Proxima Nova", Arial;
	font-size: 16px;
	-webkit-overflow-scrolling: touch;
	background: #fff;

	&.no-scroll {
		overflow: hidden;
	}
}

.body-overflow {
	overflow-y: auto !important;
}

.row {
	max-width: 1400px;

	&.fluid {
		max-width: 100%;

		.box {
			position: relative;
			height: 100%;

			&.full {
				padding: 100px 0 !important;

				@media (max-width: 620px) {
					padding: 40px !important;
				}
			}

			&.arrow-right { 
				&:after {
					border-color: transparent transparent transparent #fff;
					border-image: none;
					border-style: solid;
					border-width: 43px;
					content: "";
					height: 0;
					position: absolute;
					right: -85px;
					top: 50%;
					width: 0;
					z-index: 999;
					transform: translate(0,-50%);
				}
			}
			&.arrow-left { 
				&:after {
					border-color: transparent #fff transparent transparent;
					border-image: none;
					border-style: solid;
					border-width: 43px;
					content: "";
					height: 0;
					position: absolute;
					left: -85px;
					top: 50%;
					width: 0;
					z-index: 999;
					transform: translate(0,-50%);
				}
			}

			.copy {
				width: 70%;
				text-align: center;
				margin: auto;
				top: 50%;
				left: 50%;
				position: absolute;

				&.center {
					transform: translate(-50%,-50%);

					@media (max-width: 1024px) {
						top: 0;
						left: 0;
						position: relative;
						transform: initial;
						padding: 6% 0;
						width: 90%;
					}
				}
			}
		}
		&.banner {
			padding: 50px;

			.box {
				width: 100% !important;
				max-width: 1600px;
			}

			h1, h2, h3, h4, h5, button, .button {
				margin-bottom: 0;
			}
			&.black {
				background-color: #000;
				color: #fff;
			}

			@media (max-width: 1024px) {
				padding: 20px;

				.left, .right {
					float: none !important;
					display: table;
					margin: 1% auto;
					text-align: center;
				}
			}
		}
		&.black {
			background-color: #000;
			color: #fff;

			h1, h2, h3, h4 {
				color: #fff;
			}
		}
	}
}

.no-vert-padding {
	padding: 0;
}

.button {
	font-family: 'Verlag Bold';
	line-height: 16px;
	font-size: 13px;
	color: #fff;
	background: none;
	border: 3px solid #fff;
	padding: 15px 30px 11px 30px;
	letter-spacing: 1px;
	position: relative;
	z-index: 1;
	text-transform: uppercase;

	@media (max-width: 620px) {
		padding: 11px 10px 8px;
		min-width: 180px;
	}

	&.dark {
		border: 3px solid #000;
		color: #000;
	}

	&:before {
		content:'';
		display: block;
		background: rgba(41,171,226,.7);
		width: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: -1;

		transition: all 300ms ease-in-out;
	}

	&:hover {
		background: transparent;

		&:before {
			content:'';
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
	}

	&.black {
		color: #000;
		border: 3px solid #000;
	}
}

.height-50 {
	position: relative;
	min-height: 50%;
	height: 50%;
}

.height-100 {
	position: relative;
	min-height: 100%;
	height: 100%;
}
.padding-25 {
	padding: 25px;
}
.padding-50 {
	padding: 50px;
}
.padding-100 {
	padding: 100px;
}

.margin-25 {
	margin: 25px !important;
}

.full-image {
	width: 100%;
	height: auto;
}

// Mixins
@mixin bg-cover {
	background-size: cover;
	background-position: center center;
	background-repeat: none;
}
.bg-cover {	@include bg-cover; }

/* #PADDING CLASSES
================================================== */
.large-padding {
	padding-top: 120px;
	padding-bottom: 120px;
}

.medium-padding {
	padding-top: 60px;
	padding-bottom: 60px;
}

.small-padding {
	padding-top: 20px;
	padding-bottom: 20px;
}


/* #Interior page padding
================================================== */
#agency, #portfolio, #gaillard-center {
	section {
		padding-top: 70px;
	}

	.navigation {
		width: 100%;
		background: rgba(0, 0, 0, 0.9);
		height: 70px;
		position: fixed;
		transition: all 300ms;
		z-index: 9990;

		@media (max-width: 620px) {
			padding: 0 20px;
		}
	}
}

.promos {
	a {
		display: block;
		height: 100%;
		width: 100%;
		background: #222;
		transition: all 300ms ease-in-out;

			&:hover {
				img {
					opacity: 1;
					filter: grayscale(0);
				}
			}
	}



	img {
		position: relative;
		filter: grayscale(100%);
		z-index: 0;
		opacity: .4;
		transition: all 300ms ease-in-out;
	}
}

.home-promo-copy {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;

	h2 {
		color: #fff;
		letter-spacing: 2px;
		font-size: 22px;
		position: relative;
		margin-bottom: 20px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 2px;
			background: #fff;
			left: 50%;
			width: 50%;
			bottom: -5pxpx;
			transform: translateX(-50%);
		}
	}
}


/* #Typography
================================================== */
h1, h2, h3, h4, h5 {
	font-family: "Verlag Black", Arial Black;
	text-transform: uppercase;

	&.underlined:after {
		width: 100px;
		height: 3px;
		display: block;
		margin: 12px auto 30px;
		background-color: $black;
		content:'';
	}
}
p, ul, ol li {
	font-family: "Proxima Nova", Arial;
	font-size: 16px;
}
.light-blue {
	color: $light-blue !important;
}
.dark-blue {
	color: $dark-blue;
}
.white {
	color: #fff;
}

@media (min-width: 1500px) {
	body, p, ul {
		font-size: 20px;
		line-height: 30px;
	}
	p {
		max-width: 1024px;
		margin: 0 auto 20px;
	}
	h3 {
		font-size: 30px;

		span.number {
			font-size: 43px !important;
		}
	}
}


/* #FULLSCREEN INTRO
================================================== */
.intro {
	position: fixed;
	display: block;
	z-index: 7777;
	overflow: hidden;
	width: 100%;
	height: 100%;
	//background: #2a2e39;
	transition: transform 0.6s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

	&.mobile {
		position: relative;
	}

	&.opened {
		transform: translate3d(0, -100%, 0) translate3d(0, 70px, 0);
	}

	.intro-copy {
		text-align: center;
		position: absolute;
		width: 50%;
		top: 43%;
		left: 50%;
		transform: translate(-50%,-50%);

		img {
			width: 90%;
			margin: 0 auto;
		}

		@media (max-width: 500px) {
			width: 90%;

			img {
				min-width: 280px;
			}
		}
	}

	.curtain-trigger {
		margin: 0;
	}
}

.under-intro {
	display: block;
	position: relative;
	padding-top: 70px;

	@media (max-width: 1024px) {
		padding-top: 0;
	}
}


#video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 0;

	&.mobile {
		background: url('/assets/images/agency/AGENCY-09.jpg') no-repeat center center / cover;

		&:after {
			background-color: rgba(0, 0, 0, 0.6);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: "";
		}
		
	}
}

.navigation, .intro-copy {
	z-index: 7777;
}


/* #Main Nav
================================================== */
.navigation {
	width: 100%;
	background: rgba(0,0,0,0.65);
	padding: 0 0 0 40px;
	height: 70px;
	position: fixed;
	transition: all 300ms;

	.wrapper {
		max-width: 1600px;
		margin: auto;
	}

	&.nav-down {
		top: 0;
	}
	&.nav-up {
		top: -70px;
	}

	.logo {
		float: left;
		margin-top: 16px;
		width: 165px;
	}

	.main-nav {
		float: right;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Verlag Black';

		.menu {
			@media (min-width: 631px) {
				display: none;
			}
		}

		.up-icon {
			visibility: hidden;
			opacity: 0;
			transition: all 300ms ease-in-out;
			width: 0;

			&.show {
				visibility: visible;
				opacity: 1;
				width: 18px;
			}
		}

		li {
			display: inline-block;
			line-height: 70px;

			a {
				font-size: 13px;
				color: #f5f5f5;
				margin-right: 10px;
				transition: all 300ms ease-in-out;
				position: relative;

				

				&:hover {
					color: #29abe2;
				}
			}
		}

		.menu {
			margin-right: 0;
			position: relative;

			a {
				display: block;
				height: 100%;
				width: 100%;
				position: relative;
			}
		}
	}

	@media (max-width: 630px) {
		padding: 0 20px;

		.main-nav li {
			display: none;

			&.menu {
				display: block;
			}
		}
	}
}

#home { 
	body {
		padding-top: 0px;
	}
	.navigation {
		position: absolute !important;
		bottom: 0;
		left: 0;

		@media (min-width: 620px) {
			background: transparent;
		}

		@media (max-width: 767px) {
			position: relative !important;
			top: 0 !important;
			z-index: 9999 !important;
		}
	}

	.intro.mobile .curtain-trigger {
		display: none;
	}


	.slick-slider {
		.slick-slide {
			float: left;
			position: relative;
			z-index: 1;
		}
		a.slick-arrow {
			height: 64px;
			position: absolute;
			z-index: 999;
			width: 30px;
			background-size: cover !important;
			top: 50%;
			transform: translateY(-50%);

			&.slick-next { 
				background: url('/assets/images/icon-arrow-next.svg') no-repeat; 
				right:10px;
			}
			&.slick-prev { 
				background: url('/assets/images/icon-arrow-prev.svg') no-repeat; 
				left:10px;
			}
		}
	}
}

.intro-slider {

	a.slick-arrow {
		height: 64px;
		position: absolute;
		z-index: 999;
		width: 30px;
		background-size: cover !important;
		top: 50%;
		transform: translateY(-50%);

		&.slick-next { 
			background: url('/assets/images/icon-arrow-next.svg') no-repeat; 
			right:10px;
		}
		&.slick-prev { 
			background: url('/assets/images/icon-arrow-prev.svg') no-repeat; 
			left:10px;
		}
	}
}


/* #Contact Form
================================================== */
.contact-form-wrapper {
	z-index: 9998;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
	visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;

    &.show {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s;
		overflow: auto;
    }

	.contact-form {
		background: rgba(255,255,255,.9);
		display: block;
		max-width: 60%;
		position: relative;
		//left: 50%;
		//top: 50%;
		//transform: translate(-50%, -50%);
		padding: 5%;
		border-radius: 5px;
		width: 60%;
    	min-width: 300px;
    	margin: 5% auto;

    		label {
    			font-size: 16px;
    		}

		    .close {
				position: absolute;
				right: 20px;
				top: 20px;
				z-index: 5;
				width: 30px;
				height: 30px;
				padding-top: 10px;

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: #333;
					transform: rotate(45deg);		
				}

				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: #333;
					transform: rotate(-45deg);
				}
			}
	}
}

// Contact form error styles
ul.parsley-errors-list {
    list-style: none;
    color: #fff;
    background: #000;
    margin: -15px 0 8px;
    font-size: 14px;
    padding: 0 10px;
    font-family: arial;
}


/* #Footer
================================================== */
footer.site-footer {
	height: 60px;
	background: #000;
	padding: 10px 20px;

	ul {
		text-align: center;
		margin-top: 3px;

		li {
			cursor: pointer;
			float: none;
			display: inline-block;

			a {
				text-indent: -9999px;
				height: 33px;
				display: block;
				background-size: cover;
				transition: all 300ms ease-in-out;
			}

			&.twitter a {
				background-image: url('/assets/images/icon-twitter.svg');
				width: 45px;
				opacity: .3;

				&:hover {
					opacity: 1;
				}
			}
			&.facebook a {
				background-image: url('/assets/images/icon-facebook.svg');
				width: 45px;
				opacity: .3;

				&:hover {
					opacity: 1;
				}
			}
			&.rss a {
				background-image: url('/assets/images/icon-rss.svg');
				width: 45px;
				opacity: .3;

				&:hover {
					opacity: 1;
				}
			}
			&.dribbble a {
				background-image: url('/assets/images/icon-dribbble.svg');
				width: 45px;
				opacity: .3;

				&:hover {
					opacity: 1;
				}
			}
			&.flickr a {
				background-image: url('/assets/images/icon-flickr.svg');
				width: 45px;
				opacity: .3;

				&:hover {
					opacity: 1;
				}
			}
		}
		@media (max-width: 720px) {
			li {
				margin-left: 10px;

				a {
					height: 25px;
					width: 30px !important;
				}
			}
		}
	}
}
#portfolio footer.site-footer ul {
	@media (max-width: 720px) { text-align: left; }
}

/* #Featured Projects
================================================== */
.featured-project {
	display: block;
	height: 100%;
	width: 100%;
	background-color: #222;
	cursor: pointer;
	background-size: cover;
	background-position: center center;
	background-repeat: none;
	overflow: hidden;

	img {
		position: relative;
		z-index: 0;
		transition: all 400ms ease-in-out;
		//filter: grayscale(0%);
		opacity: 1;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 95%;
		width: 95%;
		z-index: 2;
		border: 10px solid rgba(255,255,255,.2);
		transition: all 300ms ease-in-out;
	}

	.button.featured {
		z-index: 3;
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all 300ms ease-in-out;
		transition-delay: .3s;
	}

	&:hover {
		&:before {
			height: 85%;
			width: 85%;
		}

		img {
			//filter: grayscale(100%);
			opacity: .3;
		}

		.button.featured {
			top: 50%;
			opacity: 1;
		}
	}

	@media (max-width: 700px) {
		z-index: 5;

		&:before {
			height: 95%;
			width: 95%;
			z-index: 4;
			border: 4px solid rgba(255,255,255,.2);
		}

		img {
			//filter: grayscale(100%);
			opacity: .3;
		}

		.button.featured {
			top: 50%;
			opacity: 1;
			z-index: 5;
		}
	}
}


/* #Fullscreen Nav
================================================== */

.fullscreen {
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 9997;
	transform: translate(120%, 0);
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	transition: all 300ms ease-in-out;
	visibilty: hidden;
	opacity: 0;

	&.show {
		transform: translate(0, 0);
		transition: all 300ms ease-in-out;
		opacity: 1;
		visibility: visable;
	}

	.close {
		position: absolute;
		right: 30px;
		top: 30px;
		z-index: 5;
	}

	.fluid {
		.button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}

		a {
			display: block;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 95%;
				width: 95%;
				z-index: 2;
				border: 7px solid rgba(255,255,255,.2);
				transition: all 300ms ease-in-out;
			}

			&:hover {
				&:before {
					height: 85%;
					width: 85%;
					border: 7px solid rgba(41,171,226,.2);
				}

				.button.featured {
					top: 50%;
					opacity: 1;
				}
			}

			&.one {
				&:after {
					content: '';
					display: block;
					background: url('/assets/images/fullscreen-nav-test.jpg') no-repeat center center;
					background-size: cover;

					opacity: 0.2;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					z-index: -1; 
				}
			}
		}
	} 
}




/* #Fullscreen Nav-2
================================================== */

.fullscreen-2 {
	z-index: 9998;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
	visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;

    &.open {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s;
			
		nav ul li {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
		nav li:nth-child(1) {
		    transition-delay: 0.05s;
		}
		nav li:nth-child(2) {
		    transition-delay: 0.1s;
		}
		nav li:nth-child(3) {
		    transition-delay: 0.15s;
		}
		nav li:nth-child(4) {
		    transition-delay: 0.2s;
		}
		nav li:nth-child(5) {
		    transition-delay: 0.25s;
		}
		nav li:nth-child(6) {
		    transition-delay: 0.3s;
		}
		nav li:nth-child(7) {
		    transition-delay: 0.35s;
		}
		nav li:nth-child(8) {
		    transition-delay: 0.4s;
		}
		nav li:nth-child(9) {
		    transition-delay: 0.45s;
		}
		nav li:nth-child(10) {
		    transition-delay: 0.5s;
		}		

		@media (max-width: 620px) {
			overflow-y: scroll;
		}    
    }

    .close {
		position: absolute;
		right: 30px;
		top: 30px;
		z-index: 9992;
		width: 60px;
		height: 60px;
		padding-top: 30px;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			transform: rotate(45deg);		
		}

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			transform: rotate(-45deg);
		}

		@media screen and (max-width: 620px) {
			width: 40px;
			height: 40px;
			right: 10px;
			top: 0px;
		}
	}

	nav {
	    position: relative;
	    top: 50%;
	    height: 60%;
	    text-align: center;
	    font-size: 54px;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);

	    a.logo {
	    	display: none;

	    	@media (max-width: 620px) {
	    		display: block;
	    	}
	    }

		ul {
		    position: relative;
	    	display: inline-block;
	    	margin: 0 auto;
	    	padding: 0;
	    	list-style: none;
	    	text-align: center;

	    	li {
	    		display: inline-block;
			    float: none;
			    margin: 0 20px 20px 0;
			    opacity: 0;
			    transform: translate3d(0, -80px, 0);
			    transition: transform 0.5s, opacity 0.5s;

			    &.mobile {
		    		display: none;

		    		@media (max-width: 620px) {
		    			display: inline-block;
		    		}
		    	}

			    a {
			    	display: block;
				    padding: 50px 0;
				    min-width: 190px;
				    border: 2px solid #fff;
				    border-radius: 3px;
				    color: #fff;
				    text-transform: uppercase;
				    font-weight: 400;
				    font-size: 15px;
				    -webkit-transition: all 300ms ease-in-out;
				    transition: all 300ms ease-in-out;
				    font-family: $verlag-book;

				    &:hover, &:focus {
				    	border-color: $light-blue;
						//color: $light-blue;
				    }

				    span {
				    	display: block;
				    	position: relative;
				    	width: 25px;
				    	height: 25px;
				    	margin: 0 auto;
				    	margin-bottom: 10px;
				    }

				    @media (max-width: 620px) {
				    	min-width: 130px;
				    	padding: 25px 0;
				    }
			    }

		    	#ourblog {
					span {
						background: url('/assets/images/icon-nav-blog.svg') no-repeat center center;
					}
		    	}
		    	#photography {
					span {
						background: url('/assets/images/icon-nav-photography.svg') no-repeat center center;
					}
		    	}
		    	#identity {
					span {
						background: url('/assets/images/icon-nav-identity.svg') no-repeat center center;
					}
		    	}
		    	#services {
					span {
						background: url('/assets/images/icon-nav-services.svg') no-repeat center center;
					}
		    	}
		    	#experiments {
					span {
						background: url('/assets/images/icon-nav-experiments.svg') no-repeat center center;
					}
		    	}
		    	#contact {
					span {
						background: url('/assets/images/icon-nav-phone.svg') no-repeat center center;
					}
		    	}
		    	#portfolio {
					span {
						background: url('/assets/images/icon-nav-portfolio.svg') no-repeat center center;
					}
		    	}
		    	#process {
					span {
						background: url('/assets/images/icon-nav-process.svg') no-repeat center center;
					}
		    	}
				#contact {
					span {
						background: url('/assets/images/icon-nav-contact.svg') no-repeat center center;
					}
		    	}
		    	#agency {
					span {
						background: url('/assets/images/icon-nav-agency.svg') no-repeat center center;
					}
		    	}
	    	}
	    }
		
		@media (max-width: 620px) {
			top: 0px;
			transform: translateY(0);
			overflow: scroll;
			height: auto;
		}
	}

}



/* #Pre Loader
================================================== */

.load-logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	z-index: 9999;
	transition: all 0.3s ease-out;
	width: 50px;
	height: 70px;
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}



@keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #fff;
	z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader, .loaded .load-logo img {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
	transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
   transform: translateY(-100%);
   transition: all 0.3s 0.6s ease-out;
}

.no-js #loader-wrapper {
	display: none;
}


/* #PORTFOLIO
================================================== */

#portfolio {
	.project-intro {
		position: relative; 
		height: 80%;
		background-size: 120%;
		background-size: cover;
		background-position: center center;
		background-repeat: none;

		.logo {
			position: absolute;
			transform: translate(-50%,-50%);
			z-index: 2;
			left: 50%;
			top: 50%;
			width: 70%;
			max-width: 369px;
			min-width: 240px;
		}
	}
}
section.portfolio-intro {
	background-size: cover;
	background-position: center center;
	height: 50%;
	position: relative;
	width: 100%;

	@media (min-width: 1500px) {
		height: 75%;
	}

	@media (max-width: 620px) {
		background-size: cover !important;
	}

	&:after {
		// position: absolute;
		width: 100%;
		height: 100%;
		content: "";
	}

	h1 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: block;
		font-size: 50px;
		text-shadow: 2px 2px 2px rgba(0,0,0,.6);
	}

	&.dark {
		&:after {
			background: rgba(0,0,0,0.3);
			z-index: 1;
		}

		h1 {
			color: #fff;

		}
	}

	&.light {
		&:after {
			background: rgba(254,254,254,0.5);
		}

		h1 {
			color: #000;

		}
	}
}

.portfolio-nav-wrapper {
	width: 145px;
	right: 0;
	bottom: 0;
	background-color: #000;
	position: fixed;
	z-index: 3;
	transition: all 300ms;

	.portfolio-nav {
		height: 50px;
		transition: all 300ms;
		max-width: 145px;
		position: relative;

		a.home {
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}

		&.stuck {
			position: fixed;
			top: 70px;
			width: 100%;

			&.move-down {
				
			}
		}

		.nav {
			height: 50%;
			margin: 14px 14px;

			&.home {
				width: 20px;
			}
		}
	}
	span.tooltip {
		position: absolute;
		color: #fff;
		background: #000;
		padding: 10px;
		left: -10px;
		border-radius: 7px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 15px;
		letter-spacing: 0.05em;
		min-width: 150px;
		transition: all 600ms;
		text-align: center;
		opacity: 0;
		z-index: 1;
		top: -43px;
	}
	a.home span.tooltip {
		left: -59px;
		top: -34px;
	}
	a:hover > span.tooltip {
		opacity: 1;
	}

}
.portfolio-content-wrapper {

	.row .small-12.text-center {
		padding: 100px;

		@media (max-width: 960px) {
			padding: 40px;
		}
	}
	h3 {
		span.number {
			font-size: 33px;
			margin: 3px;
		}
	}
	b.number {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.05em;
	}
	ul.no-bullet {
		text-align: left;
		width: 80%;
		margin: auto;

		@media (max-width: 620px) {
			width: 96%;
		}
		
		li:before {
			content: "\2022";
			font-size: 41px;
			margin-right: 10px;
			color: $dark-blue;
			position: relative;
			line-height: 20px;
			bottom: -5px;
		}
	}
}

.logo-project-default {
	display: block;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 350px;
}

/* Duvall 
================= */
section.portfolio-intro.duvall {
	background-image: url('/assets/images/duvall/intro-image.jpg');
}


/* CSO 
================= */
section.portfolio-intro.cso {
	background-image: url('/assets/images/cso/hero-image.jpg');
}


/* AGENCY
================= */
section.portfolio-intro.agency {
	background-image: url('/assets/images/featured-agency.jpg');
}


/* GAILLARD
================= */
section.portfolio-intro.gaillard {
	background-image: url('/assets/images/gaillard-center/large-featured2.jpg');
}


/* SIGNATURE BREAD
================= */
section.portfolio-intro.signature-breads {
	background-image: url('/assets/images/signature-breads/intro-bg.jpg');
}


/* WILLIAM MEANS
================= */
section.portfolio-intro.william-means {
	background-image: url('/assets/images/william-means/hero.jpg');
}



/* #Team Section
================================================== */
.team {

	.columns {
		position: relative;
		cursor: pointer;
	}
	
	.title {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 11;
		transition: all 300ms ease-in-out;
		opacity: 1;

		h3, p {
			color: #fff;
			text-align: center;
		}

		p {
			font-size: 18px;
			line-height: 20px;
		}

		h3 {
			margin-bottom: 0;
			font-size: 24px;
			line-height: 26px;
		}
	}

	img {
		width: 100%;
		height: auto;
	}

		
	.front {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9;
		transition: all 400ms ease-in-out;
		transition-delay: 0.1s;
	}

	.dark {
		z-index: 10;
		background: rgba(0,0,0,.6);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		transition: all 300ms ease-in-out;
		opacity: 1;
	}

	.team-member {
		overflow: hidden;
		&:hover {
			.front {
				opacity: 0;
			}
			.dark {
				opacity: 0;
			}
			.title {
				opacity: 0;
				top: 70%;
			}
			.title.no-hovr {
				opacity: 1;
				top: 75%;
			}
		}
	}
}




/* #Process Page
================================================== */

section.process-intro {
	background-size: 105%;
	background-position: center center;
	height: 75%;
	position: relative;
	width: 100%;
	background-image: url('/assets/images/featured-agency.jpg');

	@media (min-width: 1500px) {
		height: 75%;
	}

	@media (max-width: 620px) {
		background-size: cover !important;
	}

	&:after {
		position: absolute;
		width: 100%;
		height: 100%;
		content: "";
	}

	h1 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: block;
		font-size: 50px;
		text-shadow: 2px 2px 2px rgba(0,0,0,.6);
	}

}

html#process {
	.steps {
		position: relative;
		height: 100%;

		h2, p {
			color: #fff;
		}

		p { margin-bottom: 0 !important; }

		&:nth-child(odd) {
			background: url('/assets/images/process/process-bg1.jpg') center center / cover;
		}
		&:nth-child(even) {
			background: url('/assets/images/process/process-bg2.jpg') center center / cover;
		}
		
		@media (min-width: 800px) {
			.text-wrapper {
				width: 100%;
				position: absolute;
				transform: translate(0,-50%);
				top: 50%;
				padding: 3%;
			}	
			img {
				position: relative;
			}	
			.copy {
				position: relative;
			}
		}
	}
}


/* #Identity Page
================================================== */
html#identity {

	.navigation {
		background: #000;
	}

	.row {
		max-width: 100%;

		&.first {
			padding-top: 90px;
		}

		img {
			margin-bottom: 20px;
			width: 100%;
		}
	}
}


/* #Photography Page
================================================== */
html#photography {

	.navigation {
		background: #000;
	}

	.row {
		width: 100%;
		max-width: 1600px;
		position: relative;

		&.first {
			padding-top: 90px;
		}

		.columns {
			margin-bottom: 20px;			

			&.medium-12 .bg-cover {
				padding-bottom: 50%;
			}
			&.medium-6 .bg-cover {
				padding-bottom: 60%;
			}
		}
	}
}


/* #Process Page
================================================== */
#menu {
	display: none;
}

#process_slides {
	.title {
	    border: solid 2px #fff;
	    display: inline-block;
	    margin: 100px 0;
	    padding: 6px 20px;
		color: #fff;
		font-family: 'Verlag Bold';
	    letter-spacing: 6px;
	    font-size: 15px;

	    @media (max-width:767px) {
	    	margin: 100px 0 40px;
	    }
	}
}

@media (max-width:1024px) {
	.pp-section {
	    position: relative !important;
	    display: block !important;
	    transform: none !important;
	}
	#pp-nav {
		display: none !important;
	}
}

h1 {
	text-transform: none;
}

.border {
	padding: 70px 0;
	margin-bottom: 40px;

	&.top { border-top: solid 2px #fff; }
	&.bottom { border-bottom: solid 2px #fff; }
}

.white-bg {
	.title {
		color: #000;
		border-color: #000;
	}
}

#section1 {
	background: url('/assets/images/process/step-repeat.png') center center;
	img {
		width: 400px;
	}
}

.section.brands {
	img {
		margin-bottom: 20px;
	}
}




/* #Process Page
================================================== */

html#project-manager {
	body {
		@include bg-cover;
		background-image: url('/assets/images/process/process-bg.png');
	}

	.navigation {
		background: #000;
	}

	section.top {
		padding-top: 90px;
	}

	hr {
		margin: 40px 0;
	}

	label {
		font-size: 18px;
		margin: 25px 0 5px;

		i {
			font-size: 16px;
			margin: 10px 0;
		}
	}

	input[type="text"], input[type="email"] {
		font-size: 16px;
		padding: 15px 10px;
		height: auto;
	}

	textarea {
		font-size: 16px;
	}

}